@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pinyonscript/v18/6xKpdSJbL9-e9LuoeQiDRQR8WOXaPw.ttf) format('truetype');
}
@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rochester/v18/6ae-4KCqVa4Zy6Fif-UC2FHS.ttf) format('truetype');
}
.cursive {
  font-family: 'Pinyon Script', cursive;
}
.sans {
  font-family: 'Open Sans', sans-serif;
}
.bold {
  font-weight: bold;
}
.block {
  display: block;
}
.underline {
  border-bottom: 1px solid #777;
  padding: 5px;
  margin-bottom: 15px;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.pm-empty-space {
  height: 40px;
  width: 100%;
}
body {
  padding: 0;
  background:transparent;
  margin:0;
}
.pm-certificate-container {
  position: relative;
  /*width: 800px;*/
  background-color: #8bb99b;
  padding: 15px;
  color: #333;
  /* font-family: 'Open Sans', sans-serif; */
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  border: 2px solid #fff;
  margin: 0 auto;
  /* height: 1013px; */
  height: 995px;
  /*background: -webkit-repeating-linear-gradient(
    45deg,
    #618597,
    #618597 1px,
    #b2cad6 1px,
    #b2cad6 2px
  );
  background: repeating-linear-gradient(
    90deg,
    #618597,
    #618597 1px,
    #b2cad6 1px,
    #b2cad6 2px
  );*/
}
.pm-certificate-container .outer-border {
  width: 796px;
  height: 1094px;
  position: absolute;
  left: 50%;
  margin-left: -397px;
  top: 50%;
  margin-top: -547px;
  border: 2px solid #fff;
}
.pm-certificate-container .inner-border {
	width: 768px;
    height: 1065px;
    position: absolute;
    left: 50%;
   
    top: 50%;
    
    border: 2px solid #fff;
}
.pm-certificate-container .pm-certificate-border {
	position: relative;
    padding: 0;
    border: 2px solid #fff;
    background-color: #f8fff0;
    background-image: none;
	/* display: flex; */
    /* flex-direction: column; */
}
.pm-certificate-container .pm-certificate-border .pm-certificate-block {
  position: relative;
  margin-top: 0;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-header {
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 0;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-title {
  position: relative;
  margin-top: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-title h2 {
  font-size: 34px !important;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-body {
  padding: 20px;
  /* height: 840px; */
  height: 842px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-body .pm-name-text {
  font-size: 15px;
  margin-bottom: 9px;
}
.pm-certificate-container .pm-certificate-border .pm-earned {
  margin: 15px 0 20px;
}
.pm-certificate-container .pm-certificate-border .pm-earned .pm-earned-text {
  font-size: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-earned .pm-credits-text {
  font-size: 12px;
  line-height: 14px;
}
.pm-certificate-container .pm-certificate-border .pm-earned .pm-credits-text1 {
  font-size: 11px;
  line-height: 12px;
}
.pm-certificate-container .pm-certificate-border .pm-course-title .pm-earned-text {
  font-size: 20px;
}
.pm-certificate-container .pm-certificate-border .pm-course-title .pm-credits-text {
  font-size: 12px;
  line-height: 14px;
}
.pm-certificate-container .pm-certificate-border .pm-certified {
  font-size: 12px;
    line-height: 12px;
}
.pm-certificate-container .pm-certificate-border .pm-certified .underline {
  margin-bottom: 5px;
}
.pm-certificate-container .pm-certificate-border .pm-certificate-footer {

}
.pm-certificate-footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.pm-earned-text {
   margin-bottom: 30px;
    margin-top: 40px;
}
@media print{
	.pm-certificate-container {
		background-color: #8bb99b !important;
		print-color-adjust:exact;
	}
	.pm-certificate-container .pm-certificate-border {
		border: 1px solid #E1E5F0  !important;
		background-color: #f8fff0  !important;
		print-color-adjust:exact;
	}
}